.service-se{
    background:#fff700;
    width: 100%;
    color: #000;

}
.services{
    min-height: 60vh;
    width: 86.2%;
    margin: auto;
    box-sizing: border-box;
    border-left: 1px solid rgb(88, 19, 19);
    border-right: 1px solid rgb(114, 23, 23);
}
.services-in{
    
    min-height: 60vh;
   display: flex;
   flex-direction: row;
   gap:20px;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
    /* width: 90%; */
    /* margin:20px auto; */
    /* margin-bottom: 50px; */
    
}
.services h2{
    text-align: center;
}
.servicess-inn{
    padding: 10px;
    border: 1px solid red;
    height: 300px;
    width: 300px;

}