.services{
    min-height: 60vh;
    width: 100%;
    box-sizing: border-box;

}
.services-in{
    min-height: 60vh;
   display: flex;
   flex-direction: row;
   gap:20px;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
    width: 90%;
    margin:20px auto;
    margin-bottom: 50px;
}
.services h2{
    text-align: center;
}
.servicess-inn{
    padding: 10px;
    border: 1px solid red;
    height: 300px;
    width: 300px;

}