.service-se{
    background: #0d0c6b;
    width: 100%;
    color: #fff;

}
.services{
    min-height: 60vh;
    width: 86.2%;
    margin: auto;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-bottom: 50px;
}
@media (max-width:700px) {
    .services{
        box-sizing: border-box;
        border-left: none;
        border-right: none;

    }
}
.services-in{
    
    min-height: 60vh;
   display: flex;
   flex-direction: row;
   gap:20px;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
    /* width: 90%; */
    /* margin:20px auto; */
    /* margin-bottom: 50px; */
    
}
.services h2{
    text-align: center;
}
.servicess-inn{
    padding: 10px;
    border: 1px solid red;
    height: 300px;
    width: 300px;

    box-shadow: 0px 2px 3px 5px rgb(226 207 207 / 75%);
}