.styleofbody{
    background:linear-gradient(-100deg ,rgb(214, 221, 241) 30%,#dadaf0 50%);
    height: 70vh;
    /* backgroundColor:"#ECEFF1" */
}
.roww {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
@media (max-width:700px) {
    .roww {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: block;
        /* flex-wrap: wrap; */

    } 
}
.containerr .boxx{
    position: relative;
    min-width: 250px;
    gap:"20px";
    width: 100%;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 2px 3px 5px rgb(226 207 207 / 75%);
    border-radius: 4px;

}
.styleofbody{
    min-height: 70vh;
    /* margin-bottom: 40px; */
}
.stylereview{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.reviews{
    background: rgb(0 2 67) !important;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.styleofbodyf{
    background: rgb(0 2 67);
}
