.home{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #ddd;
    font-size: 25px;
    font-weight: 500;
}
.muted{
    color: inherit !important;
    text-decoration: inherit !important;
}
.btn-outline-primary:hover{
    background: rgb(39, 5, 5,0.2) !important;
}